:root {
    --background: hsl(0, 0%, 98%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(235, 19%, 35%);
    --clr-accent: hsl(220, 98%, 61%);

    // font color
    --clr-font: hsl(235, 19%, 35%);
    
    //border
    --clr-border: hsla(235, 32%, 92%);
    --border-radius: 0.3125rem;

    //gap
    --gap: .5rem;

    // font family
    --ff: "Rubik", sans-serif;

    //font size
    --fs-h1: clamp(1.875rem, 1.7204rem + 0.7723vw, 2.25rem);
    --fs-h3: clamp(0.5625rem, 0.4852rem + 0.3866vw, 0.75rem);
    --fs-p: clamp(0.875rem, 0.7719rem + 0.5155vw, 1.125rem);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}