@use './globals' as *;

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-700);
    color: var(--clr-light);
}

a, a:visited, a:active, li, p, label, button, input[type=text], div {
    font-family: var(--ff-400);
    color: var(--clr-font);
    overflow-wrap: anywhere;
}

input[type=text] {
    font-size: var(--fs-p);        
    
    &::placeholder {
        font-size: var(--fs-p);        
    }
}

main {
    
    div {
        text-align: center;

        h3 {
            font-size: var(--fs-h3);
            text-align: center;
            text-transform: uppercase;
        }
        p {
            display: inline-block;
            color: #000;
            font-weight: bold;
            font-size: var(--fs-p);
            
            span {
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 600px) {
    main {
        
        div {
            h3 {
                font-size: .65rem;
                text-align: left;
                text-transform: uppercase;
            }
            p {
                display: block;
                color: #000;
                font-weight: bold;
    
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.attribution > * {
    font-size: var(--fs-p);
}