input {
    height: 3rem;
    border-radius: var(--border-radius);
    
    &[type=text] {
        padding: .5rem;
        outline: none;
        border-width: 0;
        width: 85%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        
        &:focus {
            border-width: 0 0 1px 0;
        }
    }

    &[type=submit] {
        padding: .5rem;
        width: 15%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        background-color: #000;
        background-image: url(../assets/images/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        transition: background-color ease-in-out 500ms;
        
        &:hover {
            cursor: pointer;
            background-color: hsl(235, 19%, 35%);
        }
    }
}

.attribution {
    a {
        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
}
