@use '../base/globals' as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper--1 {
    width: 100%;
    height: 35vh;
    background-image: url(../assets/images/pattern-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper--2 {
    position: relative;
    height: 0;
    width: min(100% - 2rem, 850px);
    margin-inline: auto;

}
.wrapper--3 {
    position: relative;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: min(100% - 2rem, 500px);
    margin-inline: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    
    form {
        display: flex;
        width: 100%;
        align-items: center;
        min-height: 1rem;   
        padding-top: 1rem;
    }
}
main {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: min(100% - 2rem, 850px);
    margin-inline: auto;
    margin-bottom: -30px;
    background-color: #fff;
    border-radius: var(--border-radius);

    div {
        
        h3 {
            padding-bottom: .5rem;
        }
    }
}

@media (min-width: 600px) {
    .wrapper--1 {
        background-image: url(../assets/images/pattern-bg-desktop.png);
    }
    main {
        flex-direction: row;
        justify-content: space-evenly;
        top: -25px;

        div:not(:first-child) {
            padding-inline: 1rem;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}


.attribution {
    margin-top: 1rem;
    text-align: center;
    line-height: 1.1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}